#table {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  color: rgba(65, 65, 65, 0.8);
}

.data {
  font-size: 20px;
  color: black;
}

td {
  width: 130px;
  height: 70px;
}
td div {
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}